body {
  background: #1d2759;
  color: white;
  font-size: 16px;
  font-family: 'Slabo 27px', serif;
}

h1, h2 {
  font-family: 'Roboto Mono', monospace;
}

nav {
  background: rgba(0,240,240, .25);
}

a {
  font-size: 1.5em;
  color:white;
  margin: 10px 20px;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
